<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Food - Thông tin đơn hàng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="./../../assets/css/reset.css">
    <link rel="stylesheet" href="./../../assets/css/variable.css">
    <link rel="stylesheet" href="./../../assets/css/font.css">
    <link rel="stylesheet" href="./../../assets/css/main-background.css">
    <link rel="stylesheet" href="./../../assets/css/header.css">
    <link rel="stylesheet" href="./../../assets/css/footer.css">
    <link rel="stylesheet" href="./../../assets/css/glass.css">
    <link rel="stylesheet" href="./../../assets/css/button.css">
    <link rel="stylesheet" href="./../../assets/css/input.css">

    <link rel="stylesheet" href="./../../assets/css/address.css">
</head>
<body>
    
    <header class="site-header glass-border-radius-0 header mo-left header-transparent text-black pos-rel">
        <!-- Main Header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix pos-rel">
                <div class="container clearfix pos-rel">
                    <!-- Nav Toggle Button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end pos-rel" type="button"
                        data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation" >
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="navbar-customer">
                        <!-- Website Logo -->
                        <div class="logo-header logo-dark">
                            <a href="#"><img src="./../../assets/img/nowvn.png" alt=""></a>
                        </div>
                        <div class="header-nav navbar-collapse collapse " id="navbarNavDropdown">
                            <div class="logo-header">
                                <a href="#"><img src="./../../assets/img/nowvn.png" alt=""></a>
                            </div>
                            <ul class="nav navbar-nav navbar">
                                <li class="active"><a><span>TP.Hồ Chí Minh</span><i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="#">TP.Đà Nẵng</a></li>
                                        <li><a href="#">Hà Nội</a></li>
                                        <li><a href="#">TP.Hải Phòng</a></li>
                                    </ul>
                                </li>
                                <li><a><span>Đồ ăn</span></a>
                                </li>
                                <li><a><span>Đặt bàn</span></a>
                                </li>
                                <li><a><span>Thực phẩm</span></a>
                                </li>
                                <li><a><span>Siêu thị</span></a>
                                </li>
                                <li class="active"><a><span>...</span></a>
                                    <ul class="sub-menu">
                                        <li><a>Trang trí <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Hoa</a></li>
                                                <li><a href="#">Bóng đèn</a></li>
                                            </ul>
                                        </li>
                                        <li><a>Thú cưng <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Lồng/Chuồng</a></li>
                                                <li><a href="#">Đồ ăn</a></li>
                                            </ul>
                                        </li>
                                        <li><a>Thức uống <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Sinh tố</a></li>
                                                <li><a href="#">Cafe</a></li>
                                                <li><a href="#">Trà sữa</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Coming Soon</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="pos-rel button-login d-flex align-items-center">
                                <!-- <a href="./login.html" class="btn btn-primary gradient rounded-xl">Đăng nhập</a> -->
                                <div class="avatar-wrapper mr-3">    
                                    <img src="https://i.pravatar.cc/50" alt="">
                                </div>
                                <span><i class="fa fa-caret-down"></i></span>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        <!-- Main Header End -->
        </div>
    </header>


    <div class="container-fluid">
        <div class="receipt__customer row">
            <div class="side-bar border-top-0 glass-border-radius-0 col-sm-12 col-md-3 col-lg-2 pt-5 mb-0">
                <div class="avatar d-flex align-items-center mb-5">
                    <div class="avatar-wrapper mr-3">    
                        <img src="https://i.pravatar.cc/50" alt="">
                    </div>
                    <h6 class="m-0">Lê Huỳnh Quí</h6>
                </div>
    
                <div class="side-bar-item-res">
                    <a href="./profile.html"><h6 class="btn btn__white w-100 mb-4 btn-hover-effect"><i class="fa fa-user"></i> Cập nhật tài khoản</h6></a>
                    <a href="./address.html"><h6 class="btn btn__bg-main w-100 mb-4 btn-hover-effect"><i class="fa fa-shopping-cart"></i> Thông tin đơn hàng</h6></a>
                </div>
            </div>
    
            <div class="receipt__card col-sm-12 col-md-9 col-lg-10 m-0 p-0">
                <div class="p-4">
                    <div class="glass py-4 px-5">
                        <h5 class="box-title mb-5">Cập nhật địa chỉ</h5>
                        <div class="table-res">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="ten"><h6>Tên gợi nhớ</h6></th>
                                        <th class="address"><h6>Địa chỉ</h6></th>
                                        <th class="phone"><h6>Số điện thoại</h6></th>
                                        <th class="action"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="text-right mt-5 pt-5"><button class="btn btn__bg-main btn-hover-effect btn-res" data-toggle="modal" data-target="#themModal">Thêm</button></div>

                    </div>
                </div>

                <!-- <div class="glass-border-radius-0 border-left-0 m-0 p-4">
                    <footer>
                        <div class="d-flex justify-content-between mx-5">
                            <p class="m-0">© 2021 Cyber Food Delivery - Cyber Learn</p>
                            <tt>Bản quyền thuộc về <a href="https://cybersoft.edu.vn/">Cybersoft</a></tt>
                        </div>
                    </footer>
                </div> -->



            </div>
        </div>  
    </div>


    <!-- Modal -->
    <div class="modal fade w-100" id="themModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog w-75">
        <div class="modal-content glass">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="" class="text-white">Tên gợi nhớ<span class="text-danger">*</span></label>
                                <input class="form-control text-warning" placeholder="Ex: Mr.Qui"></input>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="" class="text-white">Họ tên<span class="text-danger">*</span></label>
                                <input class="form-control text-warning" placeholder="Ex: Lê Huỳnh Quí"></input>
                            </div>
                        </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="" class="text-white">Email<span class="text-danger">*</span></label>
                            <input class="form-control text-warning" placeholder="Ex: email@gmail.com"></input>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="" class="text-white">Số điện thoại<span class="text-danger">*</span></label>
                            <input class="form-control text-warning" placeholder="Số điện thoại"></input>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="" class="text-white">Địa chỉ<span class="text-danger">*</span></label>
                            <input class="form-control text-warning position-relative" placeholder="Địa chỉ">
                                <a href="" class="position-absolute text-white" style="bottom:1.6rem; right:2rem">Tìm trên bản đồ <i class="fas fa-map-marked-alt"></i></a>
                            </input>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <select name="" id="" class="form-control">
                                <option value="">Chọn thành phố</option>
                                <option value="">Hà Nội</option>
                                <option value="">Hải Phòng</option>
                                <option value="">Tp. HCM</option>
                                <option value="">Đà Nẵng</option>
                                <option value="">Nha Trang</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <select name="" id="" class="form-control">
                                <option value="">Quận</option>
                                <option value="">Quận 1</option>
                                <option value="">Quận 2</option>
                                <option value="">Quận 3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-hover-effect btn-res" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn__bg-main btn-hover-effect btn-res">OK</button>
            </div>
        </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    

<script src="./../controllers/navbar.js"></script>
<script src="./../controllers/main.js"></script>

</body>
</html>