/* btn__bg-main*/
.btn__bg-main {
    background: var(--main-color);
}

/* btn__white*/
.btn__white {
    background: var(--color-light-1);
    color: var(--color-dark-1)!important;
    border-color: var(--main-color);
}


/* btn__fb*/
.btn__fb {
    background: var(--btn__fb-color);
    color: var(--color-light-1);
}

/* btn__gg*/
.btn__gg {
    background: var(--btn__gg-color);
    color: var(--color-light-1);
}




/* button hover effect */
.btn-hover-effect { 
    position: relative;
    overflow: hidden;
    transition: all .5s cubic-bezier(0.26, 0.1, 0.27, 0.55);
}

.btn-hover-effect::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 0;
    top: 0;
    background-color: var(--hover-effect-color);
    transition: all 1s;
    opacity: .5;
    z-index: -1;
}

.btn-hover-effect:hover::before {
    opacity: 1;
    transform: scale(110);
    color: var(--color-light-1);
}

.btn-hover-effect:hover {
    color: var(--color-light-1);
    transform: scale(0.99);
}