.forget-password__customer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
    margin-top: 15rem;
}

.forget-password__customer h2{
    font-size: 1.5rem;
}

.forget-password__card {
    width: 600px;
    height: 300px;
}
