@media only screen and (min-width:991px){
    .image__content{
      margin-top: -3rem;
    }
    .img__footer{
      width: 30%;
      display: inline;
    }
  }
  
  @media only screen and (max-width: 575px){
    .customer__footer p, .customer__content-all p{
      font-size: 0.7rem;
    }
    .customer__content-all h2{
      font-size: 1.5rem;
    }
    .customer__content-all h4{
      font-size: 1.2rem;
    }
    .wrapper-customer {
      padding: 5px 0;
    }
    .customer__landing{
      height: 50vh;
    }
  }