
.process-container {
    /* border: 1px solid #000; */
    height: 60px;
    width: 25%;
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.678);
    text-align: center;
}


.process-container.in-progress {
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--main-color);
}

.process-container.done {
    background-color: var(--main-color);
    color: #fff;
}


.addPhoto-frame {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;

}

.addPhoto-frame i {
    font-size: 1.5rem;
    line-height: 100px;
}






@media screen and (max-width: 1200px) {
    h6 {

        font-weight: 400;
        font-size: 0.9rem;
    }

    .process-container h6 {
        font-size: 0.9rem;
        /* font-weight: 300; */
    }
}




@media screen and (max-width: 768px) {
    .side-bar {
        padding-top: 1.5rem!important;
    }
    .avatar {
        justify-content: center;
        margin-bottom: 1rem!important;
    }
    .info__card {
        height: unset;
        overflow: unset;
    }

    .info__card .glass {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    .change-avatar-res {
        flex-flow: column;
    }

    .avatar-wrapper {
        margin-bottom: 1rem;
    }

    .avatar-wrapper + div {
        align-self: flex-start;
    }
}



@media screen and (max-width: 576px) {
    footer > div.mx-5 {
        flex-flow: column;
        margin: 0!important;
    }
}

@media screen and (max-width: 560px){
    .process {
        flex-flow: column;
    }
    
    .process-container {
        width: 100%;
        height: 40px;
    }
    .bottom-btn {
        flex-flow: column;
    }
    button {
        width: 100%;
    }

    .info__card > div {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
    
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {padding-right: 0; padding-left: 0;}

    .content-form .container {
        width: unset!important;
    }
    
    .side-bar {
        padding: 1.5rem 1rem 0!important;
    }

    .detail-res {
        flex-flow: column;
        padding: 0 1rem 1rem;
    }
    .detail-res input {
        flex: unset;
        max-width: unset;
        margin-bottom: 1rem;
        padding: .375rem .75rem;
    }

}

