/*//////////////--------------RESPONSIVE--------------////////////////////  */

/* chung */
@media screen and (max-width: 1200px) {
    .box-title {
        font-size: 1.4rem;
    }

    h6 {

        font-weight: 400;
        font-size: 0.9rem;
    }

    .process-container h6 {
        font-size: 0.8rem;
        font-weight: 300;
    }
}

@media screen and (max-width: 1200px) and (min-width:993px) {
    .side-bar {
        max-width: unset;
        flex: 0 0 220px;
    }
    .merchant__card {
        flex: 0 0 70%;
    }
}


@media screen and (max-width: 767.9px) {
    .merchant {
        flex-flow: column;
        height: unset;
    }
    .side-bar, .merchant__card {
        width: unset;
        margin: 1rem!important;
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }

    .side-bar-item-res > a > h4 {
        width: fit-content;
    } 
    .avatar {
        justify-content: center!important;
        margin-bottom: 1rem!important;
    }

    .merchant__card {
        padding-left: 2rem!important;
        padding-right: 2rem!important;
    }
    .box-title {
        font-size: 1.3rem;
    }
    .container, .container-sm {
        max-width: unset;
    }
}









@media screen and (max-width: 425px) {
/* shop-management */

    .title-res {
        flex-flow: column;
    }

    .title-res h2 {
        margin-bottom: 1rem!important;
    }


    .btn-res {
        flex-flow: column;
        margin-bottom: 1rem;
    }

    .btn-res a:nth-child(1) {
        margin: 0!important;
    }

    /* search shop */
    .form-search {
        padding: 0!important;
    } 

    .content-search-res {
        box-shadow: unset;
        border-radius: unset;
        border-top: unset;
        border-left: unset;
    }

}



/* search shop */
@media screen and (max-width: 992px){
    .form-search {
        flex-flow: column;
    }

    .form-group-1, .form-group-2, .form-group-3 {
        width: 100%;
        margin: 0.5rem 0 ;
    } 

    .form-group-3 button { 
        width: 100%;
    }

}


/* basic info */
@media screen and (max-width: 560px){
    .process {
        flex-flow: column;
    }

    .ten-quan {
        flex-flow: column;
    }

    .process-container {
        width: 100%;
        height: 40px;
    }
    .bottom-btn {
        flex-flow: column;
    }
    button {
        width: 100%;
    }
    .content-form, .content-before-submit {
        height: unset;
    }
    .merchant__card {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    /* representative */

    .personal {
        margin-bottom: 1rem;
    }

    .cmnd {
        flex-flow: column;
    }

    .cmnd > div  {
        text-align: unset!important;
        margin: 0!important;
    }

    /* detail */

    .detail-res {
        flex-flow: column;
    }

    .detail-res.container-fluid, .col-9-res {
        padding-right: 0;
    }

    .detail-res input {
        flex: unset;
        max-width: unset;
        margin-bottom: 1rem;
    }

    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {padding-right: 0;}

}


/* shop dang ky */
@media screen and (max-width: 1130px) {
    .ten-quan {
        margin-bottom: 1rem!important;
    }

    .dangKy-res {
        flex-flow: column;
    }

    .dangKy-res > div {
        margin-bottom: .5rem;
    }
}


@media screen and (max-width: 530px) {
    .shop-wrapper {
        flex-flow: column;
    }

    .avatar-pic {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .dangKy-res {
        align-items: flex-start!important;
    }
}

@media screen and (max-width: 400px) {
   
    .shop-wrapper h5 {
        font-size: .9rem;
    }

    .dangKy-res > div {
        flex-flow: column;
        align-items: flex-start!important;
    }

    .dangKy-res > div > h6 {
        margin-bottom: .5rem!important;
    }
}


