:root{
  --main-color: #F7B614;

  --color-dark-1:#282932;

  --color-light-1: #FFFFFF;
  --color-light-2:#F2EFE6;

  /* main background */
  --bg-main-linear-gradient-1: linear-gradient(57deg, #e9ece5 0%, #ece9c2d7 48%, #edd2a8c5 78% , #f3bf9e88 100%);
  --webkit-linear-gradient-1: -webkit-linear-gradient(57deg, #e9ece5 0%, #ece9c2d7 48%, #edd2a8c5 78% , #f3bf9e88 100%);
  --bg-main-fallback-1: #ece9c2d7; /* fallback for old browsers */

  /* glass background */
  --bg-glass-linear-gradient-1: linear-gradient(117.76deg, rgba(255, 255, 255, 0.3) -7.21%, rgba(255, 255, 255, 0.7) 118.08%);


  /* glass box shadow */
  --glass-box-shadow-1: 0 10px 20px 0 rgb(0 0 0 / 2%);
  --glass-box-shadow-2: 0 10px 20px 0 rgba(0, 0, 0, 0.02);


  /* button color */
  /* --btn__fb-color: linear-gradient(to right, #51a2e9, #056cc7); */
  --btn__fb-color: #3c5997;
  --btn__gg-color: #f7635e;
  /* --btn__gg-color: linear-gradient(to right, #f5af19, #f12711); */
 


  /* hover effect color */
  --hover-effect-color: rgba(0, 0, 0, 0.1)
}