
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Food - Quán của tôi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="./../../assets/css/reset.css">
    <link rel="stylesheet" href="./../../assets/css/variable.css">
    <link rel="stylesheet" href="./../../assets/css/font.css">
    <link rel="stylesheet" href="./../../assets/css/main-background.css">
    <link rel="stylesheet" href="./../../assets/css/header.css">
    <link rel="stylesheet" href="./../../assets/css/footer.css">
    <link rel="stylesheet" href="./../../assets/css/side-bar.css">
    <link rel="stylesheet" href="./../../assets/css/glass.css">
    <link rel="stylesheet" href="./../../assets/css/button.css">
    <link rel="stylesheet" href="./../../assets/css/input.css">

    <link rel="stylesheet" href="./../../assets/css/shop-management.css">
    <link rel="stylesheet" href="./../../assets/css/check-before-submit.css">
</head>
<body>
    <div class="container-fluid container-fluid-res">
        <div class="info__merchant row">
            <!-- side bar -->
            <div class="side-bar border-top-0 glass-border-radius-0 col-lg-2 pt-4 mb-0" style="z-index: 4">
                <div class="avatar d-flex align-items-center mb-5">
                    <div class="avatar-wrapper mr-1">    
                        <img src="./../../assets/images/logo.png" style="width: 50px" alt="">
                    </div>
                    <h5 class="m-0 mr-4 text-warning">CYBER FOOD</h5>
                    <h3 class="text-right d-none close mb-0" style="cursor: pointer;" onclick="closeSidebar()"><i class="fa fa-times"></i></h3>
                </div>
    
                <div class="side-bar-item-res">
                    <a class="side-bar-option active d-flex py-3" href="./shop-management.html">
                        <h6 class="pl-3 m-0"><i class="fa fa-user" style="width: 1.5rem"></i></h6>
                        <h6 class="m-0">Quán của tôi</h6>
                    </a>
                    <a class="side-bar-option d-flex  py-3" href="#">
                        <h6 class="pl-3 m-0"><i class="fa fa-shopping-cart" style="width: 1.5rem"></i></h6>
                        <h6 class="m-0">Quản lý thông tin quán</h6>
                    </a>
                </div>
            </div>
    

            <!-- main-content -->
            <div class="info__card col-sm-12 col-md-9 col-lg-10 m-0 p-0 d-flex flex-column align-items-center">

                <div class="glass-border-radius-0 border-left-0 m-0 p-4 position-fixed header-wrapper">
                    <header class="h-100">
                        <div class="position-fixed w-100 user-show" style="top:-100px; left:0; height: 60px; z-index:2">
                            <div class="d-flex align-items-center justify-content-center glass-border-radius-0 w-100 h-100">
                                <h1 class="mr-3 text-warning" style="cursor:pointer"><i class="fa fa-search"></i></h1>
                                <h1 class="mr-3 text-warning" style="cursor:pointer"><i class="fa fa-bell"></i></h1>
                                <img src="https://i.pravatar.cc/50" class="mr-3" alt="">
                                <h6 class="m-0">Chris Alexendar <span><i class="fa fa-angle-down" style="cursor:pointer"></i></span></h6>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mx-4 h-100">
                            <h1 class="hello">Xin chào, Chris</h1>
                            <div class="d-none humbuger">
                                <div class="d-flex align-items-center justify-content-center">
                                    <h3 class="mb-0" onclick="openSidebar()" style="cursor: pointer;"><i class="fa fa-bars mr-3"></i></h3>
                                    <h3 class="mb-0 text-warning">Cyber food</h3>
                                </div>
                            </div>
                            <div class="d-flex align-items-center user-avatar">
                                <h1 class="mr-3 text-warning" style="cursor:pointer"><i class="fa fa-search"></i></h1>
                                <h1 class="mr-3 text-warning" style="cursor:pointer"><i class="fa fa-bell"></i></h1>
                                <img src="https://i.pravatar.cc/50" class="mr-3" alt="">
                                <h6 class="m-0">Chris Alexendar <span><i class="fa fa-angle-down" style="cursor:pointer"></i></span></h6>
                            </div>
                            <h3 class="d-none mb-0 down-arrow" onclick="showUserAvatar()"><i class="fa fa-angle-down" style="cursor:pointer"></i></h3>
                        </div>
                    </header>
                </div>

                <div class="row justify-content-between container justify-content-between padding-res" style="margin-top: 100px;">
                    <div class="col-12 glass p-4">
                        
                        <div class="d-flex justify-content-between mb-2">
                            <h4 class="box-title">Đăng ký quán</h4>
                        </div>
                        <h6 class="font-weight-normal text-danger">Vui lòng kiểm tra kỹ trước khi gửi yêu cầu</h6>
                        
                        <div class="content content-before-submit">
                            <div class="mb-4 mt-4">
                                <div class="p-2">
                                     <h5>Thông tin người đại diện</h5>
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Đăng ký dưới danh nghĩa:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">Công ty/ chuỗi</h6>
                                         </div>
                                     </div>
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Số hợp đồng:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">ABC6789</h6>
                                         </div>
                                     </div>
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Mã số thuế:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">1123581321</h6>
                                         </div>
                                     </div>
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Tên đầy đủ người đại diện:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">Nguyễn Văn A</h6>
                                         </div>
                                     </div>
                 
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Email:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">email@gmail.com</h6>
                                         </div>
                                     </div>
                 
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Số điện thoại:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">0831234567</h6>
                                         </div>
                                     </div>
                 
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Số điện thoại khác:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">Không có</h6>
                                         </div>
                                     </div>
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Số CMND:</h6>
                                         </div>
                                         <div class="col-lg-9 d-flex">
                                             <img class="mr-3" style="width: 100px; height: 100px; object-fit: cover;" src="https://cdn.luatminhkhue.vn/LMK/articles/12/61370/huong-dan-thu-tuc-cap-lai-chung-minh-thu--cmnd---the-can-cuoc-khi-bi-mat-theo-quy-dinh-moi-nhat---61370.jpg" alt="CMND MAT TRUOC">
                                             <img style="width: 100px; height: 100px; object-fit: cover;"src="https://i.pinimg.com/originals/63/21/ae/6321aea41990552b5148a00998413374.jpg" alt="CMND MAT SAU">
                                         </div>
                                     </div>
                                 </div>
                            </div>
                 
                            
            
                            <div class="mb-4 mt-4">
                                <div class="p-2">
                                     <h5>Thông tin quán - Cơ bản</h5>
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Tên quán:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">Chris - Bún - Đồng Đen</h6>
                                         </div>
                                     </div>
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Số điện thoại:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">0831234567</h6>
                                         </div>
                                     </div>
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Số nhà và Đường/Phố:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">99 Đồng Đen</h6>
                                         </div>
                                     </div>
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Phường:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">13</h6>
                                         </div>
                                     </div>
                 
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Quận:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">Tân Bình</h6>
                                         </div>
                                     </div>
                 
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Thành phố:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">TP. HCM</h6>
                                         </div>
                                     </div>
                 
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Định vị trên bản đồ:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">Xác nhận</h6>
                                         </div>
                                     </div>     
                                     
                                </div>
                            </div>
                 
            
                            <div class="mb-4 mt-4">
                                <div class="p-2">
                                     <h5>Thông tin quán - Chi Tiết</h5>
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Thời gian mở cửa:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">09:00 - 22:00</h6>
                                         </div>
                                     </div>
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Phí gửi xe:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">0đ</h6>
                                         </div>
                                     </div>
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Từ khoá tìm kiếm:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">gà, xôi, nấm</h6>
                                         </div>
                                     </div>
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Miêu tả về quán:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">gà, xôi, nấm rất ngon và rẻ</h6>
                                         </div>
                                     </div>
                 
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Loại hình quán:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">Ăn vặt/vỉa hè</h6>
                                         </div>
                                     </div>
                 
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Đối tượng khách:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">Sinh viên</h6>
                                         </div>
                                     </div>
                 
                 
                                     <div class="row container p-1 align-items-start">
                                         <div class="col-lg-3">
                                             <h6 class="mb-1 font-weight-normal">Thời gian:</h6>
                                         </div>
                                         <div class="col-lg-9">
                                             <h6 class="mb-2">Buổi sáng, Buổi trưa, Buổi xế, Buổi tối</h6>
                                         </div>
                                     </div>     
                                     <div class="row container p-1 align-items-start">
                                        <div class="col-lg-3">
                                            <h6 class="mb-1 font-weight-normal">Món đặc trưng:</h6>
                                        </div>
                                        <div class="col-lg-9">
                                            <h6 class="mb-2">Đồ ăn, Gà, Chân cánh gà nướng</h6>
                                        </div>
                                    </div>   
                                    <div class="row container p-1 align-items-start">
                                        <div class="col-lg-3">
                                            <h6 class="mb-1 font-weight-normal">Ẩm thực:</h6>
                                        </div>
                                        <div class="col-lg-9">
                                            <h6 class="mb-2">Món Việt, Món Miền Nam</h6>
                                        </div>
                                    </div>   
            
                                    <div class="row container p-1 align-items-start">
                                        <div class="col-lg-3">
                                            <h6 class="mb-1 font-weight-normal">Ảnh đại diện quán:</h6>
                                        </div>
                                        <div class="col-lg-9 d-flex">
                                            <img class="mr-3" style="width: 100px; height: 100px; object-fit: cover;" src="https://pastaxi-manager.onepas.vn/content/uploads/articles/2amthuc/nhahang/hoaithu/top-10-quan-an-ngon-co-khong-gian-dep-o-sai-gon-anh1.jpg" alt="anh minh hoa">
                                        </div>
                                    </div>
            
                                    <div class="row container p-1 align-items-start">
                                        <div class="col-lg-3">
                                            <h6 class="mb-1 font-weight-normal">Ảnh bìa:</h6>
                                        </div>
                                        <div class="col-lg-9 d-flex">
                                            <img class="mr-3" style="width: 200px; height: 100px; object-fit: cover;" src="https://vigcenter.com/upload/full/2020/12/23/in-menu-cho-nha-hang-quan-an-vat-dep-tai-tphcm-vigroup-1608711490-gK5M9C8Sce.png" alt="anh minh hoa">
                                        </div>
                                    </div>
            
                                    <div class="row container p-1 align-items-start">
                                        <div class="col-lg-3">
                                            <h6 class="mb-1 font-weight-normal">Ảnh mặt tiền quán:</h6>
                                        </div>
                                        <div class="col-lg-9 d-flex">
                                            <img class="mr-3" style="width: 100px; height: 100px; object-fit: cover;" src="https://i.pinimg.com/originals/a0/9f/45/a09f454f7acecabf1928eb6d49fa9721.png" alt="anh minh hoa">
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="mb-4 mt-4">
                                <div class="p-2">
                                     <h5>Menu món giao</h5>
                                     <div class="row container p-1 align-items-start">
                                        <div class="col-lg-3">
                                            <h6 class="mb-1 font-weight-normal">Ảnh chụp Menu:</h6>
                                        </div>
                                        <div class="col-lg-9 d-flex">
                                            <img class="mr-3" style="width: 100px; height: 100px; object-fit: cover;" src="https://thietkeinanphuquoc.com/wp-content/uploads/2020/11/20201110000006.jpg" alt="anh minh hoa">
                                            <img class="mr-3" style="width: 100px; height: 100px; object-fit: cover;" src="https://dongsach.net/wp-content/uploads/thiet-ke-menu-nha-hang-696x539.png" alt="anh minh hoa">
                                        </div>
                                    </div>   
                                     
                                </div>
                            </div>
            
            
            
                            <div class="row container align-items-end p-2 mb-4 fix-bug-responsive">
                                <div class="col-12 d-flex justify-content-end bottom-btn">
                                    <a href="./menu-photo.html"><button class="btn btn-secondary btn-hover-effect mt-3 mr-4">Quay lại</button></a>
                                    <a href="./shop-management.html"><button class="btn btn__bg-main btn-hover-effect mt-3">Xác nhận và Gửi</button></a>
                                </div>
            
                            </div>
                        </div>
                    </div>
                    
                </div>


                <div class="glass-border-radius-0 border-left-0 m-0 p-4 w-100">
                    <footer>
                        <div class="d-flex justify-content-between mx-3">
                            <p class="m-0">© 2021 Cyber Food Delivery - Cyber Learn</p>
                            <tt>Bản quyền thuộc về <a href="https://cybersoft.edu.vn/">Cybersoft</a></tt>
                        </div>
                    </footer>
                </div>   
            </div>
        </div>  
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  
    <script>
        const openSidebar = () => {
            document.querySelector(".side-bar").classList.add("opend")
        }

        const closeSidebar = () => {
            document.querySelector(".side-bar").classList.remove("opend")
        }


        const showUserAvatar = () => {
            document.querySelector(".user-show").classList.toggle("show")
            document.querySelector(".down-arrow i").classList.toggle("rotate")
        }

    </script>

</body>
</html>






























