<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Food - Quán của tôi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="./../../assets/css/reset.css">
    <link rel="stylesheet" href="./../../assets/css/variable.css">
    <link rel="stylesheet" href="./../../assets/css/font.css">
    <link rel="stylesheet" href="./../../assets/css/main-background.css">
    <link rel="stylesheet" href="./../../assets/css/header.css">
    <link rel="stylesheet" href="./../../assets/css/footer.css">
    <link rel="stylesheet" href="./../../assets/css/side-bar.css">
    <link rel="stylesheet" href="./../../assets/css/glass.css">
    <link rel="stylesheet" href="./../../assets/css/button.css">
    <link rel="stylesheet" href="./../../assets/css/input.css">

    <link rel="stylesheet" href="./../../assets/css/shop-management.css">
    <link rel="stylesheet" href="./../../assets/css/representative.css">
</head>
<body>
    <div class="container-fluid container-fluid-res">
        <div class="info__merchant row">
            <!-- side bar -->
            <div class="side-bar border-top-0 glass-border-radius-0 col-lg-2 pt-4 mb-0" style="z-index: 4">
                <div class="avatar d-flex align-items-center mb-5">
                    <div class="avatar-wrapper mr-1">    
                        <img src="./../../assets/images/logo.png" style="width: 50px" alt="">
                    </div>
                    <h5 class="m-0 mr-4 text-warning">CYBER FOOD</h5>
                    <h3 class="text-right d-none close mb-0" style="cursor: pointer;" onclick="closeSidebar()"><i class="fa fa-times"></i></h3>
                </div>
    
                <div class="side-bar-item-res">
                    <a class="side-bar-option active d-flex py-3" href="./shop-management.html">
                        <h6 class="pl-3 m-0"><i class="fa fa-user" style="width: 1.5rem"></i></h6>
                        <h6 class="m-0">Quán của tôi</h6>
                    </a>
                    <a class="side-bar-option d-flex  py-3" href="#">
                        <h6 class="pl-3 m-0"><i class="fa fa-shopping-cart" style="width: 1.5rem"></i></h6>
                        <h6 class="m-0">Quản lý thông tin quán</h6>
                    </a>
                </div>
            </div>
    

            <!-- main-content -->
            <div class="info__card col-sm-12 col-md-9 col-lg-10 m-0 p-0 d-flex flex-column align-items-center">

                <div class="glass-border-radius-0 border-left-0 m-0 p-4 position-fixed header-wrapper">
                    <header class="h-100">
                        <div class="position-fixed w-100 user-show" style="top:-100px; left:0; height: 60px; z-index:2">
                            <div class="d-flex align-items-center justify-content-center glass-border-radius-0 w-100 h-100">
                                <h1 class="mr-3 text-warning" style="cursor:pointer"><i class="fa fa-search"></i></h1>
                                <h1 class="mr-3 text-warning" style="cursor:pointer"><i class="fa fa-bell"></i></h1>
                                <img src="https://i.pravatar.cc/50" class="mr-3" alt="">
                                <h6 class="m-0">Chris Alexendar <span><i class="fa fa-angle-down" style="cursor:pointer"></i></span></h6>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mx-4 h-100">
                            <h1 class="hello">Xin chào, Chris</h1>
                            <div class="d-none humbuger">
                                <div class="d-flex align-items-center justify-content-center">
                                    <h3 class="mb-0" onclick="openSidebar()" style="cursor: pointer;"><i class="fa fa-bars mr-3"></i></h3>
                                    <h3 class="mb-0 text-warning">Cyber food</h3>
                                </div>
                            </div>
                            <div class="d-flex align-items-center user-avatar">
                                <h1 class="mr-3 text-warning" style="cursor:pointer"><i class="fa fa-search"></i></h1>
                                <h1 class="mr-3 text-warning" style="cursor:pointer"><i class="fa fa-bell"></i></h1>
                                <img src="https://i.pravatar.cc/50" class="mr-3" alt="">
                                <h6 class="m-0">Chris Alexendar <span><i class="fa fa-angle-down" style="cursor:pointer"></i></span></h6>
                            </div>
                            <h3 class="d-none mb-0 down-arrow" onclick="showUserAvatar()"><i class="fa fa-angle-down" style="cursor:pointer"></i></h3>
                        </div>
                    </header>
                </div>

                <div class="row justify-content-between container justify-content-between padding-res" style="margin-top: 100px;">
                    <div class="col-12 glass p-4">
                        
                        <div class="d-flex justify-content-between mb-4">
                            <h4 class="box-title">Đăng ký quán</h4>
                        </div>
                        
                        <div class="content mb-4 mt-4">
                            <div class="p-2">
                                <h5 class="box-title">Tiến độ đăng ký</h5>
                                <div class="d-flex align-items-center justify-content-between process">
                                    <div class="process-container p-2 done">
                                        <h6 class="m-0">Thông tin quán - Cơ bản</h6>
                                    </div>
                                    <div class="process-container p-2 in-progress">
                                        <h6 class="m-0">Thông tin người - Đại diện</h6>
                                    </div>
                                    <div class="process-container p-2 glass">
                                        <h6 class="m-0">Thông tin quán - Chi tiết</h6>
                                    </div>
                                    <div class="process-container p-2 glass">
                                        <h6 class="m-0">Menu giao hàng - Ảnh chụp menu</h6>
                                    </div>
                                </div>
                            </div>
                       </div>
            
            
                       <div class="content content-form mb-4 mt-4">
                            <h6 class="text-danger p-3 mb-0">Vui lòng điền đúng thông tin theo như hợp đồng</h6>
                            <div class="row container p-3 align-items-start">
                                <div class="col-lg-3">
                                    <h6 class="">Đăng ký dưới danh nghĩa <span class="text-danger">*</span></h6>
                                </div>
                                <div class="col-lg-9">
                                    <button class="btn btn-light mr-3 loaiBtn active personal">Cá nhân</button>
                                    <button class="btn btn-light loaiBtn">Công ty/ chuỗi</button>
                                </div>
                            </div>
            
            
                            <div class="row container p-3 align-items-start">
                                <div class="col-lg-3">
                                    <h6 class="">Tên đầy đủ người đại diện<span class="text-danger">*</span></h6>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" placeholder="Tên đầy đủ người đại diện">
                                </div>
                            </div>
            
            
                            <div class="row container p-3 align-items-start">
                                <div class="col-lg-3">
                                    <h6 class="">Email<span class="text-danger">*</span></h6>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
            
            
                            <div class="row container p-3 align-items-start">
                                <div class="col-lg-3">
                                    <h6 class="">Số điện thoại<span class="text-danger">*</span></h6>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" placeholder="Số điện thoại">
                                </div>
                            </div>
            
                            <div class="row container p-3 align-items-start">
                                <div class="col-lg-3">
                                    <h6 class="">Số điện thoại khác</h6>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" placeholder="Số điện thoại khác">
                                </div>
                            </div>
            
            
                            <div class="row container p-3 align-items-start">
                                <div class="col-lg-3">
                                    <h6 class="">Số CMND<span class="text-danger">*</span></h6>
                                </div>
                                <div class="col-lg-9 d-flex cmnd">
                                    <div class="mr-2 text-center">
                                        <p class="text-muted">Mặt trước CMND</p>
                                        <label for="CMND-before" class="addPhoto-frame"><i class="fa fa-plus"></i></label>
                                        <input id="CMND-before" type="file" class="d-none">
                                    </div>
                                    <div class="ml-2 text-center">
                                        <p class="text-muted">Mặt sau CMND</p>
                                        <label for="CMND-after" class="addPhoto-frame"><i class="fa fa-plus"></i></label>
                                        <input id="CMND-after" type="file" class="d-none">
                                    </div>
                                </div>
                            </div>
            
                            <div class="row container p-3 align-items-start">
                                <div class="col-lg-3">
                                    <h6 class="">Đăng ký kinh doanh <span class="text-danger">*</span</h6>
                                    <p class="text-muted">Tối đa 10 ảnh</p>
                                </div>
                                <div class="col-lg-9 d-flex">
                                    <div>
                                        <label for="business-photo" class="addPhoto-frame"><i class="fa fa-plus"></i></label>
                                        <input id="business-photo" type="file" class="d-none">
                                    </div>
                                </div>
                            </div>
            
            
                            <div class="row container p-3 align-items-start">
                                <div class="col-lg-3">
                                    <h6 class="">Mã số thuế <span class="text-danger">*</span</h6>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" placeholder="Mã số thuế">
                                </div>
                            </div>
            
            
                            <div class="row container p-3 align-items-end">
                                <div class="col-12 d-flex justify-content-end bottom-btn">
                                    <a href="./basic-info.html"><button class="btn btn-secondary btn-hover-effect mt-3 mr-4">Quay lại</button></a>
                                    <a href="./detail-info.html"><button class="btn btn__bg-main btn-hover-effect mt-3">Lưu và Tiếp tục</button></a>
                                </div>
            
                            </div>
                    </div>
                    
                </div>
            </div>

            <div class="glass-border-radius-0 border-left-0 m-0 p-4 w-100">
                <footer>
                    <div class="d-flex justify-content-between mx-3">
                        <p class="m-0">© 2021 Cyber Food Delivery - Cyber Learn</p>
                        <tt>Bản quyền thuộc về <a href="https://cybersoft.edu.vn/">Cybersoft</a></tt>
                    </div>
                </footer>
            </div>   
        </div>  
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  
    <script>
        const openSidebar = () => {
            document.querySelector(".side-bar").classList.add("opend")
        }

        const closeSidebar = () => {
            document.querySelector(".side-bar").classList.remove("opend")
        }


        const showUserAvatar = () => {
            document.querySelector(".user-show").classList.toggle("show")
            document.querySelector(".down-arrow i").classList.toggle("rotate")
        }




        const buttons = document.querySelectorAll(".loaiBtn")
        buttons.forEach((button, index) => {
            button.addEventListener("click", e => {
                for (let  i = 0; i < buttons.length; ++i) {
                    buttons[i].classList.remove("active")
                }
                button.classList.add("active")
            })
        })

    </script>

</body>
</html>











