<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Food - Quán của tôi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="./../../assets/css/reset.css">
    <link rel="stylesheet" href="./../../assets/css/variable.css">
    <link rel="stylesheet" href="./../../assets/css/font.css">
    <link rel="stylesheet" href="./../../assets/css/main-background.css">
    <link rel="stylesheet" href="./../../assets/css/header.css">
    <link rel="stylesheet" href="./../../assets/css/footer.css">
    <link rel="stylesheet" href="./../../assets/css/glass.css">
    <link rel="stylesheet" href="./../../assets/css/button.css">
    <link rel="stylesheet" href="./../../assets/css/input.css">

    <link rel="stylesheet" href="./../../assets/css/shop-registered.css">

    <!-- <link rel="stylesheet" href="./../../assets/css/responsive.css"> -->
    
<body>
    
   <!-- Navbar -->
   <header class="site-header glass-border-radius-0 header mo-left header-transparent text-black pos-rel">
    <!-- Main Header -->
    <div class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar clearfix pos-rel">
            <div class="container clearfix pos-rel">
                <!-- Nav Toggle Button -->
                <button class="navbar-toggler collapsed navicon justify-content-end pos-rel" type="button"
                    data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation" >
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="navbar-customer">
                    <!-- Website Logo -->
                    <div class="logo-header logo-dark">
                        <a href="#"><img src="./../../assets/img/nowvn.png" alt=""></a>
                    </div>
                    <div class="header-nav navbar-collapse collapse " id="navbarNavDropdown">
                        <div class="logo-header">
                            <a href="#"><img src="./../../assets/img/nowvn.png" alt=""></a>
                        </div>
                        <ul class="nav navbar-nav navbar">
                            <li class="active"><a><span>TP.Hồ Chí Minh</span><i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="#">TP.Đà Nẵng</a></li>
                                    <li><a href="#">Hà Nội</a></li>
                                    <li><a href="#">TP.Hải Phòng</a></li>
                                </ul>
                            </li>
                            <li><a><span>Đồ ăn</span></a>
                            </li>
                            <li><a><span>Đặt bàn</span></a>
                            </li>
                            <li><a><span>Thực phẩm</span></a>
                            </li>
                            <li><a><span>Siêu thị</span></a>
                            </li>
                            <li class="active"><a><span>...</span></a>
                                <ul class="sub-menu">
                                    <li><a>Trang trí <i class="fa fa-angle-right"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Hoa</a></li>
                                            <li><a href="#">Bóng đèn</a></li>
                                        </ul>
                                    </li>
                                    <li><a>Thú cưng <i class="fa fa-angle-right"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Lồng/Chuồng</a></li>
                                            <li><a href="#">Đồ ăn</a></li>
                                        </ul>
                                    </li>
                                    <li><a>Thức uống <i class="fa fa-angle-right"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Sinh tố</a></li>
                                            <li><a href="#">Cafe</a></li>
                                            <li><a href="#">Trà sữa</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Coming Soon</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="pos-rel button-login d-flex align-items-center">
                            <!-- <a href="./login.html" class="btn btn-primary gradient rounded-xl">Đăng nhập</a> -->
                            <div class="avatar-wrapper mr-3">    
                                <img src="https://i.pravatar.cc/50" alt="">
                            </div>
                            <span><i class="fa fa-caret-down"></i></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    <!-- Main Header End -->
    </div>
    </header>





    <div class="container-fluid">
        <div class="info__merchant row">
            <div class="side-bar border-top-0 glass-border-radius-0 col-sm-12 col-md-3 col-lg-2 pt-5 mb-0">
                <div class="avatar d-flex align-items-center mb-5">
                    <div class="avatar-wrapper mr-3">    
                        <img src="https://i.pravatar.cc/50" alt="">
                    </div>
                    <h6 class="m-0">Lê Huỳnh Quí</h6>
                </div>
    
                <div class="side-bar-item-res">
                    <a href="./shop-management.html"><h6 class="btn btn__bg-main w-100 mb-4 btn-hover-effect"><i class="fa fa-user"></i> Quán của tôi</h6></a>
                    <a href="#"><h6 class="btn btn__white w-100 mb-4 btn-hover-effect"><i class="fa fa-shopping-cart"></i> Quản lý thông tin quán</h6></a>
                </div>
            </div>
    
            <div class="info__card col-sm-12 col-md-9 col-lg-10 m-0 p-0">
                <div class="p-4">
                    <div class="glass py-4 px-5">
                        <div class="d-flex justify-content-between title-res">
                            <h4 class="box-title">Quán của tôi</h4>
                            <a href="./search-shop.html"><h6 class="mb-4 btn btn__white btn-hover-effect"><i class="fa fa-plus mr-1"></i>Tạo quán mới</h6></a>
                        </div>
                        <div class="d-flex btn-res">
                            <a href="./shop-management.html" class="mr-3"><h4 class="btn btn__white btn-hover-effect mb-4"><i class="fa fa-user"></i> Quán của tôi (0)</h4></a>
                            <a href="./shop-registered.html" class=""><h4 class="btn btn__bg-main  btn-hover-effect"><i class="fa fa-shopping-cart"></i> Đăng ký quán (1)</h4></a>
                        </div>
                        <div class="merchant__store w-100">
                           <div class="glass-border-radius-0 p-3 w-100">
                            <div class="d-flex shop-wrapper">
                                <div class="mr-4 avatar-pic">
                                    <img style="width: 100px; height: 100px;" src="https://vinhnguyen.vn/images/companies/1/news/thiet-ke-quan-dep.jpg?1543211768824" alt="">
                                </div>
                                <div class="">
                                    <h5 class="mb-4 ten-quan">Chris - Bún - Đồng Đen</h5>
                                    <div class="d-flex align-items-center mb-2 dangKy-res">
                                        <div class="d-flex align-items-center">
                                            <h6 class="text-muted m-0 mr-2">Tình trạng đăng ký:</h6>
                                            <div class="mr-2 bar-progress" style="width: 100px; height: 10px; border-radius: 10px; background-color: #F7B614;"></div>
                                        </div>
                                        <h6 class="m-0 mr-5 text-danger">Đăng ký đang chờ phê duyệt</h6>
                                    </div>
                                    <h6 class="text-muted m-0 font-weight-light">08/07/2021 Đã cập nhật</h6>
                                </div>
                            </div>
        
        
                        </div>
                        </div>
                    </div>
                </div>

                <div class="glass-border-radius-0 border-left-0 m-0 p-4">
                    <footer>
                        <div class="d-flex justify-content-between mx-5">
                            <p class="m-0">© 2021 Cyber Food Delivery - Cyber Learn</p>
                            <tt>Bản quyền thuộc về <a href="https://cybersoft.edu.vn/">Cybersoft</a></tt>
                        </div>
                    </footer>
                </div>
            </div>
        </div>  
    </div>
























    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    
    <script src="./../controllers/navbar.js"></script>

</body>
</html>